# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment folder
/venv/

# Environment variable files (sensitive info)
/.env

# Flask instance folder
instance/

# Editor/IDE files
.vscode/
.idea/

# OS-specific files (macOS)
.DS_Store

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
